<div class="main users-new">
  <div class="container mt-5">
    <div class="form users-form">
      <div class="card card-container">
        <h3 class="mb-4">ログイン</h3>
        <div class="form-body">
          <% if @error_message %>
            <div class="form-error text-danger mb-4">
              <%= @error_message %>
            </div>
          <% end %>
          <%= form_tag("/login") do %>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" id="inputEmail" class="form-control mb-4" placeholder="メールアドレス" name="email" value="<%= @email %>" required autofocus>
              <input type="password" id="inputPassword" class="form-control mb-4" placeholder="パスワード" name="password" value="<%= @password %>" required>
              <button class="btn btn-lg btn-dark btn-block btn-signin" type="submit">ログイン</button>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="card card-container">-->
    <%#= form_tag("/login") do %>
<!--      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />-->
<!--      <p id="profile-name" class="profile-name-card"></p>-->
<!--      <form class="form-signin">-->
<!--        <span id="reauth-email" class="reauth-email"></span>-->
<!--        <input type="email" id="inputEmail" class="form-control mb-4" placeholder="メールアドレス" required autofocus>-->
<!--        <input type="password" id="inputPassword" class="form-control mb-4" placeholder="パスワード" required>-->
<!--        <button class="btn btn-lg btn-dark btn-block btn-signin" type="submit">ログイン</button>-->
<!--      </form>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->