<div class="main users-new">
  <div class="container mt-5">
    <h1 class="mb-5">ログイン</h1>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error text-danger">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <p class="mt-5">メールアドレス</p>
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text">✉</span>
            </div>
            <input type="text" class="form-control" name="email" value="<%= @email %>">
          </div>
          <p>パスワード</p>
          <div class="input-group mb-5">
            <input type="password" class="form-control" name="password" value="<%= @password %>">
          </div>
          <button type="submit" class="btn btn-dark">ログイン</button>
        <% end %>
      </div>
    </div>
  </div>
</div>