<div class="main posts-new">
  <div class="container mt-5">
    <h1 class="title">編集する</h1>
    <%= form_tag("/posts/#{@book.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @book.errors.full_messages.each do |message| %>
            <div class="form-error text-danger">
              <%= message %>
            </div>
          <% end %>
          <p class="mt-5">タイトル</p>
          <div class="input-group mb-5">
            <input class="form-control" name="title" value="<%= @book.title %>">
          </div>
          <p>感想</p>
          <textarea class="form-control mb-4" name="content"><%= @book.content %></textarea>
          <input type="submit" class="btn btn-dark" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>