<div class="main posts-new">
  <div class="container mt-5">
    <h1 class="title mb-5">新規投稿</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% if @error_message %>
            <div class="form-error text-danger">
              <%= @error_message %>
            </div>
          <% end %>
          <p class="mt-5">タイトル</p>
          <div class="input-group mb-5">
            <input class="form-control" name="title"><%= @book.title %>
          </div>
          <p>感想</p>
          <textarea class="form-control mb-4" name="content"><%= @book.content %></textarea>
          <button type="submit" class="btn btn-dark">投稿</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

